# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*
!.env.example

# IDEs and editors
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
